<div class="row bandeau_contact">
  <div class="col-sm-12 text-center">
    <h1><%= t('agence.titre') %></h1>
  </div>
</div>

<div class="content">
  <div class="row text-left">
    <div class="col-sm-12 col-md-8 col-md-offset-2 text-left">
      <h4><%= t('agence.sous_titre') %></h4>
      <br />
      <p><%= simple_format(t('agence.content')) %></p>
    </div>
  </div>
</div>
