<h1>Social wall</h1>

<!-- Initialisation SDK Facebook -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1656043924700769',
          xfbml      : true,
          version    : 'v2.8'
        });

        FB.AppEvents.logPageView();
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            console.log('Logged in.');
          }
          else {
            FB.login();
          }
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/fr_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
    window.fbAsyncUi = function() {
      FB.ui({
        method: 'share_open_graph',
        action_type: 'og.likes',
        action_properties: JSON.stringify({
          object:'https://developers.facebook.com/docs/',
        })
      }, function(response){
        // Debug response (optional)
        console.log(response);
      });
    };
    </script>

    <script>
    // Only works after `FB.init` is called
    function myFacebookLogin() {
      FB.login(function(){}, {scope: 'publish_actions'});
    }
    </script>
    <button onclick="myFacebookLogin()">Login with Facebook</button>

        <script type="text/javascript">
          window.fbAsyncApi = function() {
            FB.api(
            '/me/feed',
            'GET',
            {},
            function(response) {
                // Insert your code here
            });
          };
        </script>
