<div class="row bandeau_contact">
  <div class="col-sm-12 text-center">
    <h1><%= t('web_developpement.titre') %></h1>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 text-left">
      <p><%= simple_format(t('web_developpement.content')) %></p>
    </div>
  </div>
</div>
