// declaration des variables de couleurs

$orange: #F8931D;
$taupe: #746457;
$vert: #B8E986;
$blanc: #FFFFFF;
$gris_pale: #F2F2F2;

$large_font: 'Rubik One', sans-serif;
$light_font: 'Rajdhani', sans-serif;

$text-color: $taupe;
$link-color: $taupe;
$link-hover-color: lighten($taupe,20%);
$link-hover-decoration: none;

$font-size-base: 16px;


$navbar-default-bg: $blanc;
$navbar-height: 80px;
$navbar-margin-bottom: 0;

$btn-default-border: $orange;
$btn-default-color: $orange;
$btn-info-bg: $orange;
$btn-info-color: $blanc;

$grid-float-breakpoint: 940px;

/*$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;*/

//---------------- GENERAL --------------------

div.content {
  margin: 0 70px 0 70px;
}

.legended {
  a {
    text-decoration: none;
  }
  span {
    display: none;
  }
  a:hover span {
      display: inline;
      position: absolute;
      margin-top:25px;
      left: 100px;
      width: 200px;
      border:1px solid #009900;
      background:#ffffff;
      text-align: center;
      color: #ff0000;
    }
}

@mixin bandeau {
  opacity: 0.9;
  height: 200px;
  background-size: cover;
  margin-bottom: 30px;
  h1 {
    color: $blanc;
    font-family: $large_font;
    margin-top: 70px;
    margin-bottom: 0;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
}

.bandeau_titre {
  @include bandeau;
  background: url(/img/bandeau_1.jpg) no-repeat center center;
}

.bandeau_blog {
  @include bandeau;
  background: url(/img/bandeau_2.jpg) no-repeat center center;
}

p, a, li, blockquote {
  font-family: $light_font;
  font-size: 1.6rem;
  list-style-type: none;
  color: $taupe;
}

figcaption {
  font-family: $light_font;
  font-size: 1.4rem;
  color: lighten($taupe,20%);
}

a:hover {
  background-color: transparent;
}

button {
  font-family: $light_font !important;
  font-size: 1.6rem !important;
}

.btn-default a {
  color: $orange;
  :hover {
    color: $blanc;
  }
}

.btn-danger a {
  color: $blanc;
  :hover {
    color: $blanc;
  }
}

.btn-default:hover {
  background-color: $orange !important;
  color: $blanc !important;
}

h3 {
  font-family: $light_font !important;
  padding: 20px 0 30px 0;
}

h3:before, h3:after {
  content: '';
  width: 15em;
  border-width: 1px !important;
  border-bottom: $orange solid;
  display: inline-block;
  vertical-align: middle;
}
h3:before {
  margin-left:-100%;
  margin-right:1em}
h3:after {
  margin-right:-100%;
  margin-left:1em;}

.col-centered {
  margin: auto;
}

//---------------- top-bar --------------------

.top-bar {
  background-color: $taupe;
  color: $blanc;
  height: 30px;
  vertical-align: middle;
}

.socials-icon {
  float: left;
  padding-left: 10px;
  img {
    padding: 0 7px 0 7px;
  }
  :hover img { opacity: 0.25;}
}

.socials-icon::after {
  font-size: 18px;
  content: " | ";
  padding: 0 10px;
}

.languages {
  padding-top: 3px;
  padding-left: 10px;
  float: left;
  img {
    padding-right: 10px;
  }
}

.contacts {
  float: right;
  font-size: 14px;
  padding-right: 10px;
}

.lg-sel {}

.lg-unsel {
  opacity: 0.25;
}

.lg-unsel:hover {
    opacity: 0.5;
}

.contacts {
  a:hover {
   opacity: 0.25;
  }
}

.icontb {
  display: inline-block;
  margin: 2px 5px 0 5px;
  font-size: 18px;
  color: $blanc;
}

.txttb {
  display: inline-block;
  margin-bottom: 3px;
  color: $blanc;
}

//---------------- nav-bar --------------------

li.active > a {
  background-color: $blanc !important;
}
li.active > a::after {
  content: "";
  display: block;
  width: 90px;
  height: 20px;
  border-right: 1px $taupe solid;
  border-left: 1px $taupe solid;
  border-bottom: 2px $taupe solid;
  border-top: none;
  margin-top: -18px;

}

.dropdown-menu > li.active > a::after {
  content: none;
}

.dropdown-menu > li.active > a, .dropdown-menu > li.active > a:hover {
  color: $taupe;
  text-decoration: underline;
  text-decoration-style: dotted;

}

.separator::after{
  font-size: 18px;
  color: $taupe;
  content: " | ";
  padding: 0;
  margin: 0;
}

#logo_at:hover{
  opacity: 0.8;
}

.logo_collapsed {
  display: none;
}

//---------------- footer --------------------

#newsletter {
  padding-bottom: 30px;
  background-color: $gris_pale;
}

#social-footer {
  background-color: $taupe;
  padding: 20px 0 20px 0;
  span {
    img {
      padding: 0 7px 0 7px;
    }
    :hover img { opacity: 0.25;}
  }
}

#menu-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

// -------------- Title Bar -----------------

.title-bar-home {
  background: url(/img/accueil_title.jpg) no-repeat center center;
  opacity: 0.9;
  background-size: cover;
  height: 435px;
  .nom_resume {
    text-align: center;
    padding: 60px 0 0 0px;
  }
  .slogan {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h1, h2, h5 {
    color: $blanc;
    font-family: $large_font;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  .btn {
    padding: 10px 80px 10px 80px;
  }
}

// -------------- Page Accueil -----------------

.tryptic {
  margin: 30px 0 30px 0;
  h3:before, h3:after {
    border: none;
    margin: 0;
    padding: 0;
    width: 0;
  }
}

@mixin tryp_h3 {
  font-size: 2em;
  text-shadow: 1px 1px 1px $taupe;
  padding: 0 !important;
  margin: 0 !important;
}

.tryptic_1 {
  margin: 10px;
  h3 {
    color: $taupe;
    @include tryp_h3;
  }
}
.tryptic_2 {
  margin: 0 10px 0 10px;
  h3 {
    color: $vert;
    @include tryp_h3;
  }
}
.tryptic_3 {
  margin: 0 10px 0 10px;
  h3 {
    color: $orange;
    @include tryp_h3;
  }
}

.besoin {
  background: url(/img/mb_phone.jpg) no-repeat center center;
  opacity: 0.9;
  background-size: cover;
  height: 750px;
  padding-top: 30px;
  .card_besoin {
    background-color: $blanc;
    margin: 20px;
    padding: 40px;
    h4 { padding-bottom: 20px;}
    .sav_plus {
      text-align: right;
      margin-top: 40px;
    }
  }
}

.last_posts {
  background-color: $gris_pale;
  padding: 0 0 30px 0;
}

.post {
  border: 1px solid $taupe;
  max-width: 400px;
  background-color: $blanc;
  margin: auto;
  .text_post {
    margin: 0 20px 10px 20px;
    p.d_post {
      color: lighten($taupe, 20%);
      font-size: 1em !important;
    }
    .contenu {height: 150px;}
    p{
      text-align: justify;
    }
    .sav_plus {
      text-align: right;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}

.spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

#map {
        height: 400px;
        width: 100%;
       }

.map_google {
  background: url(/img/map_google.jpg) no-repeat center center;
  opacity: 0.9;
  background-size: cover;
  height: 665px;
}

.objectifs {
  background-color: $gris_pale;
  padding: 0 30px 30px 30px;
}

.passion {
  background-color: $gris_pale;
  .contact_card {
    margin: 40px;
  }
}

.outils {
  padding: 20px 0 30px 0;
  img {
    margin: 0 10px 0 10px;
  }
}

// -------------- Page Agence -----------------

.partners {
  border: 20px solid $gris_pale;
  margin: 20px;
  min-height: 180px;
}

.adresse {
  margin: 0;
  padding: 20px;
  background-color: $taupe;
  color: $blanc;
  height: 400px;
  p, a {
    color: $blanc;
  }
}

.agencemap > div {
  border: 1px solid $taupe;
  padding: 0;
  margin: 0;
  width: 100%;
}

.fondateur {
  background-color: $gris_pale;
  margin: 10px;
  padding: 20px;
  min-height: 280px;
}

// -------------- Page Blog -----------------

figure.blog_image {
  float: left;
  padding: 0 20px 10px 0;
  img {
    width: 320px;
  }
}


// -------------- Page Contact -----------------

.bandeau_contact {
  @include bandeau;
  background: url(/img/bandeau_3.jpg) no-repeat center center;
}

// -------------- Page Stratégie digitale -----------------

.bandeau_stratdig {
  @include bandeau;
  background: url(/img/bandeau_5.jpg) no-repeat center center;
}

.palette {
  background-color: $gris_pale;
  padding: 20px;
  height: 500px;
  overflow: scroll;
  text-align: justify;
  h3 {
    text-align: center;
  }
  h3:before, h3:after {
    width: 1em;
  }
  h3:before {
    margin-left:-10%;
    margin-right:1em}
  h3:after {
    margin-right:-10%;
    margin-left:1em;}
}

// -------------- Page Développement Web -----------------

.bandeau_devweb {
  @include bandeau;
  background: url(/img/bandeau_4.jpg) no-repeat center center;
}

// -------------- Page Développement Web -----------------

.palette_ref {
  background-color: $gris_pale;
  padding: 20px;
  height: 300px;
  overflow: scroll;
  text-align: justify;
  h3 {
    text-align: center;
  }
  h3:before, h3:after {
    width: 1em;
  }
  h3:before {
    margin-left:-10%;
    margin-right:1em}
  h3:after {
    margin-right:-10%;
    margin-left:1em;}
}

// -------------- Page Développement Web -----------------

.mentions {
  background-color: $gris_pale;
  padding: 30px 0 30px 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 940px) {
  div.content {
    margin: 0 10px 0 10px;
  }

  .spacing {
    margin-top: 20px;
  }

  #logo_at, .txttb {
    display: none;
  }
  .logo_collapsed {
    display: inline-block;
  }
  li.active > a::after {
    display: none;
  }
  .separator::after{
    display: none;
  }

  .title-bar-home {
    .nom_resume {
      text-align: center;
      padding: 30px 0 0 0px;
    }
    .slogan {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    h1, h2, h5 {
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
    h5 {
      font-size: 1.4rem;
    }
    .btn {
      margin-bottom: 20px;
    }
  }

  .socials-icon {
    float: left;
    padding-left: 3px;
    img {
      padding: 0 3px 0 3px;
    }
  }

  .socials-icon::after {
    font-size: 18px;
    content: " | ";
    padding: 0 4px;
  }

  .languages {
    padding-top: 3px;
    padding-left: 4px;
    float: left;
    img {
      padding-right: 4px;
    }
  }

  h3:before, h3:after {
    width: 1em;
  }
  h3:before {
    margin-left:-10%;
    margin-right:1em}
  h3:after {
    margin-right:-10%;
    margin-left:1em;}

  .adresse {
    padding-left: 10px;
    border: none;
    height: auto;
  }
}

/* Small devices (tablets, 768px and up) */
/* @media (min-width: $screen-sm) { } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: $screen-md) { } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: $screen-lg) { } */
